
      <div class="container-fluid">
  
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Soutenance</h4>
<form>
  
    <div class="form-group">
      <label for="name">Titre de soutenance</label>
      <input type="text" class="form-control" id="titre" 
      placeholder="Titre de soutenance" [(ngModel)]="soutenance.titre" name="titre">
    </div>
    <div class="form-group">
        <label for="dataDebut">Date de passage de soutenance</label>
      <input type="date" class="form-control" id="dateDePassage" 
      placeholder="Date de Passage" [(ngModel)]="soutenance.dateDePassage" name="dateDePassage">
    </div>
      
      <div class="form-group">
        <label for="session">Session de soutenance</label>
      <select class="form-control" id="session" [(ngModel)]="selectedSession" 
      name="session">
        <option *ngFor="let session of sessions" [ngValue]="session">{{session.name}}</option>
       
      </select>
    </div>

    <div class="form-group">
      <label for="salle">Salle de soutenance</label>
    <select class="form-control" id="salle" [(ngModel)]="selectedSalle" 
    name="salle">
      <option *ngFor="let salle of salles" [ngValue]="salle">{{salle.code}}</option>
     
    </select>
  </div>

  <div class="form-group">
    <label for="jury">Jury de soutenance</label>
  <select class="form-control" id="jury" [(ngModel)]="selectedJury" 
  name="jury">
    <option *ngFor="let jury of juries" [ngValue]="jury">
      {{jury.president.userDetails.nom}} {{jury.president.userDetails.prenom}} : President |
      {{jury.members[0].userDetails.nom}} {{jury.members[0].userDetails.prenom}} : Membre 1 |
      {{jury.members[1].userDetails.nom}} {{jury.members[1].userDetails.prenom}} : Membre 2
    </option>
   
  </select>
</div>

<div class="form-group">
  <label for="salle">Sujet de soutenance</label>
<select class="form-control" id="sujet" [(ngModel)]="selectedSujet" 
name="sujet">
  <option *ngFor="let sujet of sujets" [ngValue]="sujet">{{sujet.titre}}</option>
 
</select>
</div>

    <div class="container">
    <div class="row justify-content-md-center">
      
    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  
  

  
    
  
    </div>
  </div>
  
  </form>

  </div>
  </div>