
      <div class="container-fluid">
  
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Annee</h4>
<form #form="ngForm">
  <div class="form-group" >
    <label for="anneeExistante">Sélectionner une annee deja existante</label>
    <select class="form-control" id="anneeExistante" [(ngModel)]="selectedAnnee" name="selectedAnnee">
      <option *ngFor="let annee of annees" [ngValue]="annee">{{annee.annee}}</option>
     
    </select>
  </div>
    <div class="form-group">
      <label for="annee">année</label>
      <input type="number" class="form-control" id="annee"  
      min=2000
      placeholder="Annee (entier)" [(ngModel)]="annee.annee" name="annee" #anneeInput="ngModel">

    </div>
    <div class="container">
    <div class="row justify-content-md-center">
      
    <button type="submit" class="btn btn-primary" (click)="createAnnee()">Creer une nouvelle année</button>
  
  

  
    <button type="submit" class="btn btn-warning" (click)="modifyAnnee()">Modifier l'année sélectionnée</button>
  
  

    
    <button type="submit" class="btn btn-danger" (click)="deleteAnnee()">Supprimer l'année sélectionnée</button>
  
    </div>
  </div>
  
  </form>

  </div>
  </div>
  