<div class="dialog-container">

  <p class="dialog-title" >{{data.title}}</p>

  <form [formGroup]="updateForm" class="row full-width justify-content-center align-items-center scale-in-center mt-3 mx-auto">

      <div class="col-6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Etudiant</mat-label>
            <input formControlName="student" matInput name="student" type="text" readonly/>
          </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Filiere</mat-label>
          <input formControlName="filiere" matInput name="filiere" type="text" readonly/>
        </mat-form-field>
    </div>

      <div class="col-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Date</mat-label>
          <input formControlName="date" matInput name="date" type="text" readonly/>
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Heure de début</mat-label>
          <input formControlName="startHour" matInput name="startHour" type="text" readonly/>
        </mat-form-field>
      </div>

      <div class="col-3">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Heure de Fin</mat-label>
          <input formControlName="endHour" matInput name="endHour" type="text" readonly/>
        </mat-form-field>
      </div>


      <div class="col-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Date limite de depôt</mat-label>
          <input formControlName="dateLimiteDepot" matInput name="dateLimiteDepot" type="text" readonly/>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Salle</mat-label>
          <input formControlName="salle" matInput name="salle" type="text" readonly/>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sujet</mat-label>
          <input formControlName="sujet" matInput name="sujet" type="text" readonly/>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Jury</mat-label>
          <textarea formControlName="jury" [rows]='4+this.data.jury.members.length*2-1' matInput name="jury" type="text" readonly></textarea>
        </mat-form-field>
      </div>

      <a (click)="downloadRapport()" class="button-download mb-2" target="_blank" style="cursor: pointer;">
        <span class="button-download__icon" data-feather="download"></span>
        <span class="button-download__label">Rapport PDF</span>
      </a>

  </form>

</div>
