<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" routerLink="/Dashbord">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
                  <img
                    src="assets/static/images/insat-logo.png"
                    alt=""
                    style="height: 70px; width: auto; max-width: 500px"
                  />
                </div>
              </div>
              <div class="peer peer-greed">
                <h5
                  class="lh-1 mB-0 text-center logo-text"
                  style="color: rgb(173, 10, 51)"
                >
                  INSAT
                </h5>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a class="td-n">
              <i
                class="ti-arrow-circle-left"
                style="cursor: pointer"
                (click)="closeSidebar()"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="list-group sidebar-menu scrollable pos-r">
      <li
        class="nav-item mT-30 actived"
        [ngClass]="url === '/Dashbord' ? 'activateNav' : ''"
      >
        <a
          class="sidebar-link"
          routerLink="/Dashbord"
          (click)="changeUrl('/Dashbord')"
        >
          <span class="icon-holder">
            <i class="c-blue-500 ti-home"></i>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="url === '/Students' ? 'activateNav' : ''">
        <a
          class="sidebar-link"
          routerLink="/Students"
          (click)="changeUrl('/Students')"
        >
          <span class="icon-holder">
            <i class="c-brown-500 ti-user"></i>
          </span>
          <span class="title">Etudiants</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="url === '/Teachers' ? 'activateNav' : ''">
        <a
          class="sidebar-link"
          routerLink="/Teachers"
          (click)="changeUrl('/Teachers')"
        >
          <span class="icon-holder">
            <i class="c-red-500 ti-user"></i>
          </span>
          <span class="title">Enseignants</span>
        </a>
      </li>
      <li class="nav-item" [ngClass]="url === '/Calendar' ? 'activateNav' : ''">
        <a
          class="sidebar-link"
          routerLink="/Calendar"
          (click)="changeUrl('/Calendar')"
        >
          <span class="icon-holder">
            <i class="c-blue-500 ti-calendar"></i>
          </span>
          <span class="title">Calendrier</span>
        </a>
      </li>

      <li class="nav-item" [ngClass]="url === '/Sujet' ? 'activateNav' : ''">
        <a
          class="sidebar-link"
          routerLink="/Sujet"
          (click)="changeUrl('/Sujet')"
        >
          <span class="icon-holder">
            <i class="c-deep-purple-500 ti-bookmark"></i>
          </span>
          <span class="title">Sujet</span>
        </a>
      </li>

      <li
        class="nav-item"
        [ngClass]="url === '/Soutenance' ? 'activateNav' : ''"
      >
        <a
          class="sidebar-link"
          routerLink="/Soutenance"
          (click)="changeUrl('/Soutenance')"
        >
          <span class="icon-holder">
            <i class="c-deep-purple-500 ti-bookmark"></i>
          </span>
          <span class="title">Soutenance</span>
        </a>
      </li>

      <li
        class="nav-item"
        [ngClass]="url === '/Soutenance/Annee' ? 'activateNav' : ''"
      >
        <a
          class="sidebar-link"
          routerLink="/Soutenance/Annee"
          (click)="changeUrl('/Soutenance/Annee')"
        >
          <span class="icon-holder">
            <i class="c-pink-500 ti-time"></i>
          </span>
          <span class="title">Annee</span>
        </a>
      </li>
      <li
        class="nav-item"
        [ngClass]="url === '/Soutenance/Session' ? 'activateNav' : ''"
      >
        <a
          class="sidebar-link"
          routerLink="/Soutenance/Session"
          (click)="changeUrl('/Soutenance/Session')"
        >
          <span class="icon-holder">
            <i class="c-orange-500 ti-credit-card"></i>
          </span>
          <span class="title">Session</span>
        </a>
      </li>
      <li
        class="nav-item"
        [ngClass]="url === '/Soutenance/Salle' ? 'activateNav' : ''"
      >
        <a
          class="sidebar-link"
          routerLink="/Soutenance/Salle"
          (click)="changeUrl('/Soutenance/Salle')"
        >
          <span class="icon-holder">
            <i class="c-deep-brown-500 ti-info"></i>
          </span>
          <span class="title">Salle</span>
        </a>
      </li>
      <li
        class="nav-item"
        [ngClass]="url === '/Soutenance/Jury' ? 'activateNav' : ''"
      >
        <a
          class="sidebar-link"
          routerLink="/Soutenance/Jury"
          (click)="changeUrl('/Soutenance/Jury')"
        >
          <span class="icon-holder">
            <i class="c-cyan-500 ti-bag"></i>
          </span>
          <span class="title">Jury</span>
        </a>
      </li>
    </ul>
  </div>
</div>
