<link
  href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
  rel="stylesheet"
/>

<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-12">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Soutenances</h4>
            <div class="dataTables_length" id="dataTable_length">
              <div class="row mb-5">
                <div class="col-md-4">
                  <div id="dataTable_filter" class="dataTables_filter">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        aria-label="Search"
                        placeholder="Recherche d'une soutenance"
                        [(ngModel)]="searchString"
                      />
                    </div>
                  </div>
                  <!-- <select
                    name="dataTable_length"
                    aria-controls="dataTable"
                    class="custom-select"
                    id="inputGroupSelect01"
                  >
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> -->
                </div>
                <div class="col-md-4 offset-md-4">
                  
                    <!-- Right side put something here ! -->
                    <button
                      placeholder="Ajouter un etudiant"
                      class="btn btn-primary"
                      routerLink="creer"
                      >
                      Creer une soutenance 
                      
                    </button>
                  
                </div>
              </div>
            </div>
            <table
              id="dataTable"
              class="table table-striped table-bordered"
              cellspacing="0"
              width="100%"
            >
            <thead class="thead-dark">
                <tr>
                  <th>Titre</th>
                  <th>Date de passage</th>
                  <th>Annee</th>
                  <th>session</th>
                  <th>Jury</th>
                  <th>salle</th>
                  <th>Sujet</th>
                  
                </tr>
              </thead>
              <!-- <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </tfoot> -->
              <tbody>
                <!-- <tr
                  *ngFor="
                    let student of students
                      | studentSearch
                        : {
                            cin: searchString,
                            filiere: searchString,
                            email: searchString
                          }
                  "
                > -->
                <tr *ngFor="let soutenance of soutenances.items | filter: searchString">
                  <td><a routerLink="modifier/{{soutenance?.id}}"> {{ soutenance?.titre }} </a></td>
                  <td>{{ soutenance?.dateDePassage }}</td>
                  <td>{{ soutenance?.session?.annee?.annee }}</td>
                  <td>{{ soutenance?.session?.name }}</td>
                  <td>
                    <ng-template #popContent>
                      President : {{soutenance?.jury?.president?.userDetails?.prenom}} {{soutenance?.jury?.president?.userDetails?.nom}}<br>
                      Membre : {{soutenance?.jury?.members[0]?.userDetails?.prenom}} {{soutenance?.jury?.members[0]?.userDetails?.nom}}<br>
                      Membre : {{soutenance?.jury?.members[1]?.userDetails?.prenom}} {{soutenance?.jury?.members[1]?.userDetails?.nom}}
                    </ng-template>
                    <button *ngIf="soutenance.jury"
                    type="button" class="btn btn-outline-secondary" popoverTitle="details jury"
                    [autoClose]="true" 
                    [ngbPopover]="popContent"           
                    #popover3="ngbPopover">
                      Details
                    </button>

                  </td>
                  <td>{{ soutenance?.salle.code }}</td>
                  <td>{{ soutenance?.sujet.titre }}</td>
                </tr>
                <!-- <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
                </tr> -->
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item clickable" *ngIf="page>1">
                  <a class="page-link" (click)="setPage(page-1)">Précedent</a>
                </li>
                
                
                  <li class="page-item clickable" *ngIf="page>2">
                    <a class="page-link" (click)="setPage(page-2)"> 
                      {{page-2}}
                    </a></li>
                    <li class="page-item clickable" *ngIf="page>1">
                      <a class="page-link" (click)="setPage(page-1)"> 
                        {{page-1}}
                      </a></li>
                <li class="page-item active">
                  <a class="page-link" >{{page}}</a>
                </li>
                <li class="page-item clickable" *ngIf="page+1<=soutenances.totalPages">
                  <a class="page-link" (click)="setPage(page+1)"> 
                    {{page+1}}
                  </a></li>
                  <li class="page-item clickable" *ngIf="page+2<=soutenances.totalPages">
                    <a class="page-link" (click)="setPage(page+2)"> 
                      {{page+2}}
                    </a></li>
                <li class="page-item clickable">
                  <a class="page-link" (click)="setPage(page+1)" *ngIf="page+1<=soutenances.totalPages">Suivant</a>
                </li>
              </ul>
            </nav>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
