<link
  href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
  rel="stylesheet"
/>

<main class="main-content bgc-grey-100">
  <div id="mainContent">
    <div class="container-fluid">
      <h4 class="c-grey-900 mT-10 mB-30">Tableau</h4>
      <div class="row">
        <div class="col-md-12">
          <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Etudiants</h4>
            <div class="dataTables_length" id="dataTable_length">
              <div class="row mb-5">
                <!-- <div class="col-md-4"> -->
                <div class="col-5">
                  <div id="dataTable_filter" class="dataTables_filter">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="fa fa-search" aria-hidden="true"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        aria-label="Search"
                        placeholder="Recherche d'un etudiant"
                        [(ngModel)]="searchString"
                      />
                    </div>
                  </div>
                  <br />
                  <h5 style="color: rgb(31, 31, 31)">
                    Nombre d'etudiants par page
                  </h5>

                  <select
                    name="dataTable_length"
                    aria-controls="dataTable"
                    class="custom-select"
                    id="selectedLimit"
                    [(ngModel)]="selectedLimit"
                    (ngModelChange)="onChange($event)"
                  >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
                <!-- <div class="col-md-4 offset-md-4"> -->
                <div class="col-3">
                  <!-- Right side put something here ! -->
                  <button
                    placeholder="Ajouter un etudiant"
                    class="btn btn-primary"
                    (click)="handleAddStudentManually()"
                  >
                    Ajouter manuellement
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col-4">
                  <button
                    placeholder="Ajouter un etudiant"
                    class="btn btn-primary"
                    (click)="handleAddStudentExcel()"
                  >
                    Ajouter à partir d'Excel
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>

                    <!-- <i class="fa fa-file-excel-o" aria-hidden="true"></i> -->
                  </button>
                </div>
              </div>
            </div>
            <!-- Modal EXCEEEEEL -->
            <!-- to show we add
              style="display: block; padding-right: 16px"
              class="modal fade show"

            -->
            <div
              class="modal fade"
              [ngClass]="modalAddStudentExcel === true ? 'show' : ''"
              id="addStudentModalCenter"
              tabindex="-1"
              role="dialog"
              aria-labelledby="addStudentModalCenterTitle"
              aria-hidden="true"
              style="display: block; padding-right: 16px"
              *ngIf="modalAddStudentExcel"
            >
              <!-- style="display: block; padding-right: 16px" -->
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addStudentModalLongTitle">
                      Ajouter des etudiants à partir d'Excel
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true" (click)="handleAddStudentExcel()"
                        >&times;</span
                      >
                    </button>
                  </div>
                  <form #addStudentsExcel="ngForm">
                    <div class="modal-body">
                      <!-- inputs are here -->
                      <label for="exampleFormControlFile1"
                        >Fichier excel ici</label
                      >
                      <input
                        type="file"
                        class="form-control-file"
                        id="exampleFormControlFile1"
                        name="students"
                        ngModel
                        required
                        #fileInput="ngModel"
                        (change)="onFileChange($event)"
                      />
                      <br />
                      <h5>Nom des colonnes dans excel:</h5>
                      <br />
                      <label for="Nom"
                        >Nom de la colonne "Nom" dans le fichier excel</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="Nom"
                        placeholder="Nom"
                        name="nom"
                        ngModel
                        required
                        #excelNomInput="ngModel"
                      />
                      <label for="Prenom"
                        >Nom de la colonne "prenom" dans le fichier excel</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="Prenom"
                        placeholder="Prénom"
                        name="prenom"
                        ngModel
                        required
                        #excelPrenomInput="ngModel"
                      />
                      <label for="Filiere"
                        >Nom de la colonne "Filière" dans le fichier
                        excel</label
                      >

                      <input
                        type="text"
                        class="form-control"
                        id="Filiere"
                        placeholder="Filière"
                        name="filiere"
                        ngModel
                        required
                        #excelFiliereInput="ngModel"
                      />
                      <label for="Email"
                        >Nom de la colonne "Email" dans le fichier excel</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="Email"
                        placeholder="Email"
                        name="email"
                        ngModel
                        required
                        #excelEmailInput="ngModel"
                      />
                      <label for="CIN"
                        >Nom de la colonne "CIN" dans le fichier excel</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="CIN"
                        placeholder="CIN"
                        name="cin"
                        ngModel
                        required
                        #excelCinInput="ngModel"
                      />
                      <label for="idEtudiant"
                        >Nom de la colonne "idEtudiant" dans le fichier
                        excel</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="idEtudiant"
                        placeholder="idEtudiant"
                        name="idEtudiant"
                        ngModel
                        required
                        #excelIdEtudiantInput="ngModel"
                      />
                    </div>
                    <div class="modal-footer">
                      <!-- <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                      (click)="handleAddStudentManually()"
                    >
                      Close
                    </button> -->
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="addStudentsExcelForm(addStudentsExcel)"
                      >
                        Envoyer
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <!-- to show we add
              style="display: block; padding-right: 16px"
              class="modal fade show"

            -->
            <div
              class="modal fade"
              [ngClass]="modalAddStudentManually === true ? 'show' : ''"
              id="addStudentModalCenter"
              tabindex="-1"
              role="dialog"
              aria-labelledby="addStudentModalCenterTitle"
              aria-hidden="true"
              style="display: block; padding-right: 16px"
              *ngIf="modalAddStudentManually"
            >
              <!-- style="display: block; padding-right: 16px" -->
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addStudentModalLongTitle">
                      Ajouter un etudiant manuellement
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span
                        aria-hidden="true"
                        (click)="handleAddStudentManually()"
                        >&times;</span
                      >
                    </button>
                  </div>
                  <form #addStudentManually="ngForm">
                    <div class="modal-body">
                      <!-- inputs are here -->
                      <label for="Nom">Nom</label>
                      <input
                        ngModel
                        required
                        type="text"
                        class="form-control"
                        id="Nom"
                        placeholder="Nom"
                        name="nom"
                        #studentNomInput="ngModel"
                      />
                      <div
                        *ngIf="studentNomInput.invalid && studentNomInput.dirty"
                        class="alert alert-danger"
                      >
                        Le nom est obligatoire
                      </div>
                      <label for="Prenom">Prenom</label>
                      <input
                        ngModel
                        required
                        name="prenom"
                        type="text"
                        class="form-control"
                        id="Prenom"
                        placeholder="Prénom"
                        #studentPrenomInput="ngModel"
                      />
                      <div
                        *ngIf="
                          studentPrenomInput.invalid && studentPrenomInput.dirty
                        "
                        class="alert alert-danger"
                      >
                        Le prénom est obligatoire
                      </div>
                      <label for="Filiere">Filière</label>

                      <select
                        class="custom-select d-block w-100"
                        id="Filiere"
                        name="filiere"
                        ngModel
                        required
                        #studentFiliereInput="ngModel"
                      >
                        <option value="">Choix...</option>
                        <option value="GL">GL</option>
                        <option value="RT">RT</option>
                        <option value="IMI">IMI</option>
                        <option value="IIA">IIA</option>
                        <option value="BIO">BIO</option>
                        <option value="CH">CH</option>
                      </select>
                      <div
                        *ngIf="
                          studentFiliereInput.invalid &&
                          studentFiliereInput.dirty
                        "
                        class="alert alert-danger"
                      >
                        Le choix de filière est obligatoire
                      </div>
                      <label for="Email">Email</label>
                      <input
                        ngModel
                        required
                        type="email"
                        class="form-control"
                        id="Email"
                        placeholder="Email"
                        name="email"
                        #studentEmailInput="ngModel"
                      />
                      <div
                        *ngIf="
                          studentEmailInput.invalid && studentEmailInput.dirty
                        "
                        class="alert alert-danger"
                      >
                        Le email est obligatoire et il doit etre valide
                      </div>
                    </div>
                    <div class="modal-footer">
                      <!-- <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                      (click)="handleAddStudentManually()"
                    >
                      Close
                    </button> -->
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="addStudentManuallyForm(addStudentManually)"
                      >
                        Enregistrer
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- end Modal -->
            <table id="dataTable" class="table" cellspacing="0" width="100%">
              <thead class="thead-dark">
                <tr>
                  <th>CIN</th>
                  <th>Filière</th>
                  <th>Email</th>
                  <th>Prenom</th>
                  <th>Nom</th>
                  <th>Sujet</th>
                  <th>Modifier</th>
                  <th>Supprimer</th>
                </tr>
              </thead>
              <!-- <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Office</th>
                  <th>Age</th>
                  <th>Start date</th>
                  <th>Salary</th>
                </tr>
              </tfoot> -->
              <tbody>
                <!-- <tr
                  *ngFor="
                    let student of students
                      | studentSearch
                        : {
                            cin: searchString,
                            filiere: searchString,
                            email: searchString
                          }
                  "
                > -->
                <tr *ngFor="let student of students | filter: searchString">
                  <td>{{ student.cin }}</td>
                  <td>{{ student.filiere }}</td>
                  <td>{{ student.userDetails.email }}</td>
                  <td>{{ student.userDetails.prenom }}</td>
                  <td>{{ student.userDetails.nom }}</td>
                  <td>{{ student.sujet }}</td>
                  <td>
                    <button class="btn btn-secondary">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-danger"
                      (click)="handleDeleteStudent(student.id)"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
                <!-- <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
                </tr> -->
              </tbody>
            </table>
            <div class="row">
              <div class="col">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a
                        [class.disabled]="previousPage === '' ? true : null"
                        (click)="checkPreviousPage($event)"
                        class="page-link"
                        [routerLink]="['../Students']"
                        [queryParams]="{ page: currentPage + -1 }"
                        queryParamsHandling="merge"
                        >Précedent</a
                      >
                    </li>

                    <li
                      class="page-item"
                      *ngFor="let page of tableIndexPage; let i = index"
                      [ngClass]="currentPage === i + 1 ? 'active' : ''"
                    >
                      <a
                        [class.disabled]="i + 1 === currentPage ? true : null"
                        (click)="check($event, i + 1)"
                        class="page-link"
                        [routerLink]="['../Students']"
                        [queryParams]="{ page: i + 1 }"
                        queryParamsHandling="merge"
                      >
                        <!-- <a
                    [class.disabled]="i + 1 === currentPage ? true : null"
                    (click)="check($event, i + 1)"
                    class="page-link"
                    [href]="
                      'http://localhost:4200/Students?page=' +
                      (i + 1) +
                      '&limit=' +
                      selectedLimit
                    "
                  > -->
                        {{ i + 1 }}
                      </a>
                    </li>

                    <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                    <li class="page-item">
                      <!-- <a
                    [class.disabled]="nextPage === '' ? true : null"
                    (click)="checkNextPage($event)"
                    class="page-link"
                    [href]="nextPage"
                    >Suivant</a
                  > -->
                      <a
                        [class.disabled]="nextPage === '' ? true : null"
                        (click)="checkNextPage($event)"
                        class="page-link"
                        [routerLink]="['../Students']"
                        [queryParams]="{ page: currentPage + 1 }"
                        queryParamsHandling="merge"
                        >Suivant</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
              <br />
              <div style="color: #72777a" class="row-6 mt-2 mr-5">
                De {{ startItem }}
                à
                {{ endItem }}
                du total {{ totalItems }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
